<div class="features--block grid grid--cols2 grid--cols3">
  <div class="media">
    <h4 class="media__title">Check out our most popular courses!</h4>
  </div>

  <div class="card">
    <img
      class="card__icon"
      src="assets/icon-animation.svg"
      alt="An animation icon"
    />
    <div class="feature">
      <h4 class="card__header">Animation</h4>
      <p class="feature__content">
        Learn the latest animation techniques to create stunning motion design
        and captivate your audience.
      </p>
    </div>
    <a class="links" href="#">Get Started</a>
  </div>

  <div class="card">
    <img
      class="card__icon"
      src="assets/icon-animation.svg"
      alt="An animation icon"
    />
    <div class="feature">
      <h4 class="card__header">Design</h4>
      <p class="feature__content">
        Create beautiful, usable interfaces to help shape the future of how the
        web looks.
      </p>
    </div>
    <a class="links" href="#">Get Started</a>
  </div>

  <div class="card">
    <img
      class="card__icon"
      src="assets/icon-animation.svg"
      alt="An animation icon"
    />
    <div class="feature">
      <h4 class="card__header">Photography</h4>
      <p class="feature__content">
        Explore critical fundamentals like lighting, composition, and focus to
        capture exceptional photos.
      </p>
    </div>
    <a class="links" href="#">Get Started</a>
  </div>

  <div class="card">
    <img
      class="card__icon"
      src="assets/icon-animation.svg"
      alt="An animation icon"
    />
    <div class="feature">
      <h4 class="card__header">Crypto</h4>
      <p class="feature__content">
        All you need to know to get started investing in crypto. Go from
        beginner to advanced with this 54 hour course.
      </p>
    </div>
    <a class="links" href="#">Get Started</a>
  </div>

  <div class="card">
    <img
      class="card__icon"
      src="assets/icon-animation.svg"
      alt="An animation icon"
    />
    <div class="feature">
      <h4 class="card__header">Business</h4>
      <p class="feature__content">
        A step-by-step playbook to help you start, scale, and sustain your
        business without outside investment.
      </p>
    </div>
    <a class="links" href="#">Get Started</a>
  </div>
</div>
